@import '../../styles/variable.scss';

.add {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.724);
    display: flex;
    align-items: center;
    justify-content: center;
    .modal{
        padding: 20px;
        border-radius: 10px;
        background-color: $soft-bg ;
        position: relative;
        width: 700px;
        h1 {
            margin-bottom: 40px;
            font-size: 24px;
            color: $soft-color
        }
        .close {
            position: absolute;
            top: 10px ;
            right: 10px;
            cursor: pointer;
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 10px;
            .item {
                display: flex;
                
                label{
                    width: 40%;
                }
                input {
                    color: white;
                    caret-color:rgba(236, 230, 230, 0.724);
                    width: 60%;
                    padding: 10px;
                    outline: none;
                    background-color: transparent;
                    border: 1px solid $soft-color;
                    border-radius: 5px;
                }
                
            }
            .item-date {
                display: flex;
                label {
                    width: 40%;
                }
                input {
                    color: white;
                    padding: 10px;
                    outline: none;
                    background-color: transparent;
                    border: 1px solid $soft-color;
                    border-radius: 5px;
                    caret-color:rgba(236, 230, 230, 0.724);
                    &:first-child {
                        width: 15%;
                    }
                    &:nth-child(1) {
                        width: 15%;
                    }
                    &:last-child {
                        width: 30%;
                    }
                    
                }
            }
            .roleSelection{
                display: flex;
                label {
                    width: 40%;
                }
                select{
                    width: 60%;
                    height: 30px;
                }
            }
            .photo {
                width: 50px;
                height: 50px;
                object-fit: cover;
            }
            button {
                margin-top: 10px;
                width: 100%;
                padding: 10px ;
                cursor: pointer;
            }
        }
        
    }
}